/*
Theme Name:     Finwave Child Theme
Template:       finwave
Theme URI:      http://radiustheme.com/demo/wordpress/themes/finwave
Author:         RadiusTheme
Author URI:     http://radiustheme.com
Description:    Finwave is an Responsive Finance and Business WordPress Theme.
Version:        1.0.0
Tested up to: 	6.6
Requires PHP: 	7.4
Text Domain:    finwave
Tags: 			theme-options, featured-images, post-formats, one-column, two-columns, right-sidebar, custom-background, custom-header, editor-style, sticky-post, threaded-comments, translation-ready
License:   	  	Envato split License
License URI:  	https://themeforest.net/licenses/terms/regular
*/